@model List<DoAnWeb.Models.SanPham>
@{
    ViewBag.Title = "Sp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section>
    <div class="container">
        <div class="row">
            <!--features_items-->
            <h2 class="title text-center">Sản Phẩm</h2>
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        
                            <div class="productinfo text-center">
                                @item.HinhChinh
                                <div class="image"><a href="@Url.Action("Details", new { id = @item.MaSanPham})"></a></div>
                                <h2>
                                    @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.Gia)
                                </h2>
                                <div class="caption">
                                    <div class="name"><h3><a href="@Url.Action("Details", new { id = @item.MaSanPham})">@item.TenSanPham</a></h3></div>
                                    
                                </div>
                                <a  class="btn btn-default add-to-cart" href="@Url.Action("index","GioHang")"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
             
                    </div>
                </div>

            }

        </div><!--features_items-->
    </div>
    
</section>

